name: Deploy via ftp
on: push
jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Upload ftp
      uses: SamKirkland/FTP-Deploy-Action@4.0.0
      with:
        host: syn341.syd2.hostyourservices.net #${{ secrets.FTP_SERVER }}
        user: ${{ secrets.FTP_USERNAME }}
        password: ${{ secrets.FTP_PASSWORD }}
        localDir: "Scripts/Windows/Winget-AutoUpdate"
        remoteDir: "bennell.me/downloads"
