name: Deploy via ftp
on: push
jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Upload ftp
      uses: SamKirkland/FTP-Deploy-Action@4.0.0
      with:
        server: syn111.syd2.hostyourservices.net #${{ secrets.FTP_SERVER }}
        username: bennelldownload@bennell.me
        password: ${{ secrets.FTP_PASSWORD }} #"2q#UW^lhR(8S"
        protocol: ftps
        local-dir: "Windows/Winget-AutoUpdate/"
        server-dir: "Winget-AutoUpdate/"
        git-ftp-args: --insecure --all
